@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.profile-picture {
  width: 100%;
  max-width: 300px;
}

.text--blue {
  color: #0c33b3;
}

section:nth-child(even) {
  background-color: #f8f8f8;
}

.section__title {
  margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  text-decoration: none;
  color: #242424;
  font-weight: 700;
}

.nav__link--anchor:hover {
  cursor: pointer;
}

.nav__link--anchor-primary {
  background-color: #0c33b3;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.personal__logo {
  font-size: 24px;
  color: #0c33b3;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 24px;
}

.about-me__picture {
  width: 100%;
  /* Improving the picture */
  transform: scale(1.5);
  padding-bottom: 40px;
  padding-left: 8px;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
}

.about-me__links {
  margin-bottom: 24px;
}

.about-me__link {
  font-size: 20px;
  color: #242424;
  padding: 0 16px;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
}

/* TECH - STACK */

.language__img {
  width: 100%;
  max-width: 64px;
  transition: all 300ms;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* PROJECTS */

.project {
    margin-bottom: 135px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0e0e11;
  z-index: 2;
  opacity: 0;
  transition: opacity 450ms ease;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
}

.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__list {
  padding-top: 40px;
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 24px;
  margin-right: 16px;
  text-decoration: none;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}
